extends layout

block content
  h1= title
  p Bienvenue dans le garage BELTECH !
  p Nous vendons des véhicules neufs ou d'occasions aux meilleurs prix !

  p Nous nous chargeons également des réparations sur vos véhicules.

  p Notre garage possède les modèles suivants:

  if car_count.length
    ul
      each vehicule in car_count
        li 
          a(href=vehicule.url)  #{vehicule.marque} : !{vehicule.modeles.length || 0}
  else
    p Il n'y a pas de voiture en stock actuellement.