extends layout

block content
  h1= title
  if listModel.modeles.length
    ul
      each model in listModel.modeles
        li
          a(href=model.url) #{model.name}

  else
    p Aucun véhicule de marque #{listModel.marque} n'est en vente pour le moment .